@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --rf-brand: #00bbfa;
  --rf-brand-rgb: 248, 54, 145;
  --rf-dark: #ffffff;
  --rf-body: #51eefc;
  --f-main: "Raleway", sans-serif;
  --transition: all .6s cubic-bezier(.165, .84, .44, 1);
  --shadow: 0px, 15px, 30px, rgba(0,0,0,0.1);
}

body {
  font-family: var(--f-main);
  color: var(--rf-body);
  line-height: 1.8;
}

h1,.h1 h2, .h2 h3, .h3 h4, .h4 h5, .h5 h6, .h6 {
  font-weight: 700;
  color: var(--rf-dark);
  font-family: var(--f-main);
}

.text-brand {
  color: var(--rf-brand);
}

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.but {
  background-color: var(--rf-brand);
}

#home {
  background-image: url(Makontol.png);
  background-position: top;
  background-size: cover;
}

body {
  background-color: #1269cc;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  max-width: 550px;
  margin: 0 auto 60px auto;
}

.section-title .line {
  width: 60px;
  height: 2px;
  background-color: var(--rf-brand);
  display: inline-block;
}